CheckContragent/Infrastructure/FNSNDSCAWS_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisoft/FNSNDSCAWS2/Request" targetNamespace="http://ws.unisoft/FNSNDSCAWS2/Request" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<!--xs:maxLength value="10"/-->
			<!--xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<!--xs:maxLength value="12"/-->
			<!--xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/-->
			<!--xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<!--xs:maxLength value="9"/-->
			<!--xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NdsRequest2">
		<xs:annotation>
			<xs:documentation>Запрос о контрагентах</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NP" maxOccurs="10000">
					<xs:annotation>
						<xs:documentation>Сведения о контрагенте</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="INN" type="tns:ИННТип" use="required">
							<xs:annotation>
								<xs:documentation>ИНН</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="KPP" type="tns:КППТип" use="optional">
							<xs:annotation>
								<xs:documentation>КПП</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="DT" type="tns:ДатаТип" use="optional">
							<xs:annotation>
								<xs:documentation>Дата, на которую запрашиваются сведения</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>